@tailwind base;
@tailwind components;
@tailwind utilities;

* {
	cursor: default;
	font-family: 'Aclonica';
}

body {
	background-color: #fdf2e3;
}

button, .linked-icon {
	background-color: #9b4428;
	color: #f9bb38;
	border-radius: 50px;
	transition-duration: 200ms;
	transition-timing-function: ease-in-out;
}

.linked-icon {
    font-size: 3rem;
    padding: 10px;
}

button:hover, .linked-icon:hover {
	background-color: #f9bb38;
	color: #9b4428;
	box-shadow: 0 0 5px;
    cursor: pointer;
}

img {
	mix-blend-mode: darken;
}

.image-container {
	width: 400px; 
	height: 300px;
	overflow: hidden;
}

.fixed-width-height {
	width: 100%;
	height: 100%;
	object-fit: contain;
}

/* .linked-icon {
    cursor: pointer;

} */