@tailwind base;
@tailwind components;
@tailwind utilities;

* {
	cursor: default;
	font-family: 'Aclonica';
}

body {
    background-color: #fdf2e3;
}

button {
	background-color: #9b4428;
	color: #f9bb38;
	padding: 10px;
	border-radius: 50px;
    outline: .25px solid #f9bb38;
}

button:hover {
	background-color: #f9bb38;
	color: #9b4428;
	box-shadow: 0 1px 2px;
    outline: .25px solid #9b4428;
}
