@tailwind base;
@tailwind components;
@tailwind utilities;

* {
	cursor: default;
	font-family: 'Aclonica';
}

body {
	background-color: #fdf2e3;
}

button,
.linked-icon {
	background-color: #9b4428;
	color: #f9bb38;
	border-radius: 50px;
	transition-duration: 200ms;
	transition-timing-function: ease-in-out;
}

.linked-icon {
	font-size: 3rem;
	padding: 10px;
}

button:hover,
.linked-icon:hover {
	background-color: #f9bb38;
	color: #9b4428;
	box-shadow: 0 0 5px;
	cursor: pointer;
}

img {
	mix-blend-mode: darken;
}

.image-container {
	width: 400px;
	height: 300px;
	overflow: hidden;
}

.fixed-width-height {
	width: 100%;
	height: 100%;
	object-fit: contain;
}

.single-bacon-cards {
	width: 100%;
	height: 200px;
	object-fit: contain;
	border-radius: 15px 15px 0 0;
}

.loading-container {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	height: 100vh;
	width: 100%;
	color: #e2d5d6;
	font-size: 9em;
}

.loading-image {
	height: 25%;
}
