@tailwind base;
@tailwind components;
@tailwind utilities;

* {
	cursor: default;
	font-family: 'Aclonica';

}

body {
    background-color: #fdf2e3;
}

button {
	background-color: #9b4428;
	color: #f9bb38;
	border-radius: 50px;
}

button:hover {
	background-color: #f9bb38;
	color: #9b4428;
	box-shadow: 0 0 5px;
}

img {
    aspect-ratio: 3/2;
    /* object-fit: contain; */
    mix-blend-mode:darken;
}
